---
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';

export async function getStaticPaths() {
	const posts = await getCollection('blog');
	return posts.map((post) => ({
		params: { slug: post.slug },
		props: post,
	}));
}

const post = Astro.props;
const { Content } = await post.render();
---

<Layout title={post.data.title}>
  <main class="max-w-3xl mx-auto px-6 pt-40 pb-20">
    <header class="mb-12">
        <h1 class="text-5xl font-black italic">{post.data.title}</h1>
    </header>

    <article class="prose">
      <Content />
    </article>
  </main>
</Layout>