---
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';

export async function getStaticPaths() {
	const posts = await getCollection('blog');
	return posts.map((post) => ({
		params: { slug: post.slug },
		props: post,
	}));
}

const post = Astro.props;
const { Content } = await post.render();
---

<Layout title={post.data.title}>
	<main class="max-w-3xl mx-auto px-6 py-20">
		<article>
			<header class="mb-12">
				<time class="text-text-muted font-medium">
					{post.data.pubDate.toLocaleDateString('fr-fr', {
						year: 'numeric',
						month: 'long',
						day: 'numeric',
					})}
				</time>
				<h1 class="text-4xl md:text-5xl font-black mt-2 leading-tight">
					{post.data.title}
				</h1>
			</header>
			
			<div class="prose prose-slate lg:prose-xl max-w-none">
				<Content />
			</div>
		</article>
	</main>
</Layout>