@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  /* Palette Professionnelle : Gris Ardoise (Slate) */
  --color-brand: #0f172a;       /* Slate 900 */
  --color-bg-page: #ffffff;
  --color-text-main: #1e293b;   /* Slate 800 */
  --color-text-muted: #64748b; /* Slate 500 */
  --color-border: #e2e8f0;     /* Slate 200 */

  /* Typographie */
  --font-sans: "Inter", system-ui, sans-serif;
}

@layer base {
  body {
    background-color: var(--color-bg-page);
    color: var(--color-text-main);
    @apply antialiased font-sans;
  }

  h1, h2, h3 {
    @apply font-bold text-brand tracking-tight;
  }
}