@import "tailwindcss";
@plugin "@tailwindcss/typography"; /* On active le plugin proprement */

@theme {
  --color-brand: var(--brand);
  --color-bg-page: var(--bg-page);
  --color-text-main: var(--text-main);
  --color-border: var(--border);
}

:root {
  --brand: #1a1a1a;
  --bg-page: #fbfaf8;    /* Claude Light */
  --text-main: #323330;
  --border: #e5e5e0;
}

:root.dark {
  --brand: #f8fafc;
  --bg-page: #0f172a;    /* Claude Dark */
  --text-main: #f1f5f9;
  --border: #1e293b;
}

@layer base {
  body {
    background-color: var(--color-bg-page);
    color: var(--color-text-main);
    @apply transition-colors duration-300;
  }
}

/* La méthode élégante : On customise la classe .prose */
.prose {
  /* On dit à la classe prose d'utiliser NOS variables */
  --tw-prose-body: var(--text-main);
  --tw-prose-headings: var(--text-main);
  --tw-prose-links: var(--brand);
  --tw-prose-bold: var(--text-main);
  --tw-prose-counters: var(--text-main); /* Gère les numéros 1. 2. 3. */
  --tw-prose-bullets: var(--text-main);  /* Gère les puces */
  --tw-prose-quotes: var(--text-main);
  --tw-prose-hr: var(--border);
  
  max-width: 100%; /* Évite que le texte soit trop étroit */
}